<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seventeen.biz.dao.TestDAO">
    <resultMap id="testMap" type="com.seventeen.model.entity.TestDO" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="deleted" property="deleted" jdbcType="TINYINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectById" parameterType="java.lang.Long" resultMap="testMap">
        select * from test where id = #{id}
    </select>

</mapper>
